<!DOCTYPE html>
<html lang="en">
<head>
    <title>Render JSD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />
    <style>
        body {
            font-family: '';
            background-color: #fff;
            color: #000;
            overflow: hidden;
        }
    </style>
</head>
<body>
<h1>Render JSD</h1>
<form action="" method="post" enctype="multipart/form-data">
  <p>
    <label for="jsd_file">JSD JSON File</label>
    <input type="file" name="jsd_file" id="jsd_file" />
    <label for="uv_scale">UV Scale</label>
    <input type="text" name="uv_scale" id="uv_scale" />
  </p>
  <input type="submit" value="Create">
</form>
</body>
</html>